asn1crypto==0.24.0
attrs==17.4.0
aws-xray-sdk==0.96
boto==2.48.0
boto3==1.7.20
botocore==1.10.20
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cookies==2.2.1
coverage==4.5.1
cryptography==2.2
docker==3.1.1
docker-pycreds==0.2.2
docutils==0.14
future==0.16.0
idna==2.6
Jinja2==2.10
jmespath==0.9.3
jsondiff==1.1.1
jsonpickle==0.9.6
MarkupSafe==1.0
mock==2.0.0
moto==1.2.0
pbr==3.1.1
pluggy==0.6.0
py==1.5.2
pyaml==17.12.1
pycparser==2.18
pytest==3.4.2
pytest-cov==2.5.1
python-dateutil==2.7.3
pytz==2018.3
PyYAML==3.12
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
urllib3==1.22
websocket-client==0.47.0
Werkzeug==0.14.1
wrapt==1.10.11
xmltodict==0.11.0
